* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  text-align: center;
  background-image: linear-gradient(0.20turn, #13334c, #005792, #f6f6e9);

}

.pokemon-logo{
  position: absolute;
  left: 20px;
  margin: 10px;
}

.pokemon-image{
  width: 600px;
  height: 300px;
}

.pokedex-header{
  font-family: inherit;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #1b1717;
  position: absolute;
  top: 15px;
  right: 40px;
}


.pokemon-list {
  text-align: inherit;
  list-style-type: none;
  /*display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 30px;*/
}

.main-list-button {
  font-size: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: inherit;
  color: #1b1717;
  width: 250px;
  height: 50px;
  /*border: solid 2px #1b1717;*/
  box-shadow:20px 20px 50px 10px #eeebdd inset;
  /*box-shadow: 2px 5px 5px #1b1717;*/
  border-radius: 5px;
  margin: 5px;
  transition-duration: 0.5s;
}

.main-list-button:hover, .main-list-button:active {
  letter-spacing: 3px;
  color: #1b1717;
  cursor: pointer;
  border-radius: 10px;
  box-shadow:20px 20px 50px 10px #f0c929 inset;
  border: solid 1px #1b1717;
}
