body {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  background: #ADA996;
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2{
  font-size: 40px;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  top: 40px;
}

.navbar {
  padding: 20px;
  box-shadow: 20px 20px 20px #C8C2BC;
}

.btn {
  font-size: inherit;
  background-color: #F6F5F5;
  color: #000;
  margin: 5px;
  border: 2px solid #000;

}

.btn:hover,
.btn:focus {
  background-color: #28527A;
  color: #F6F5F5;
  transition-duration: 0.3s;
}

.list-group-item {
  text-align: center;
  background: inherit;
  top: 50px;
  border: none;
}

.pokemon-button {
  font-family: 'Press Start 2P', serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #28527A;
  color: #F6F5F5;
  width: 90%;
  height: 75px;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.pokemon-button:hover, .pokemon-button:active {
  font-size: 18px;
  letter-spacing: 1.5px;
  background-color: #DBDBDB;
  color: #28527A;
  border: solid 2px #000;
  border-radius: 10px;
}

.modal-body, .modal-header {
  text-transform: capitalize;
}

.modal-body {
  font-size: 18px;
  text-align: center;
}

@media all and (max-width: 480px) {
  .navbar {
    display: block;
  }

  span{
    position: fixed;
  }

  .pokemon-logo {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
  }

  .list-group-item {
    top: 50px;
  }
}
